<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biography</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profilestyle.css') }}">
</head>
<body class="resume">
  <header> </header>
  <div class="info">
    <div class="profile-img">
      <img src="https://media.licdn.com/dms/image/v2/D5603AQETPhW6OczolQ/profile-displayphoto-scale_400_400/B56ZuGirQrJYAg-/0/1767488796496?e=1771459200&v=beta&t=eWb-pbvWokaqLZCxiAqSCXmkx-fwG4kafFa-j46LBGw" alt="Profile Photo">
    </div>
    <div>
      <h1> Christopher Ho </h1>
      <p> 27cho@athenian.org | 650-801-2977 </p>
      <p> Student @ The Athenian School </p>
    </div>
    <div class="logos">
      <a href="https://www.linkedin.com/in/christopher-ho-09a6a3352/">
      <img src="https://pngimg.com/uploads/linkedIn/small/linkedIn_PNG32.png">
      </a>
    </div>
  </div>
  <div class="text-boxes">
    <div class="single-box">
      <h2>About Me</h2>
      <p> I am a high school junior interested in computer science and web development. </p>
    </div>
    <div class="single-box">
      <h2>Experience & Leadership</h2>
      <p>
       <b>Summer 2025: Internship at AnimationTech</b> <br>
  (description) <br>
       <b>October 2025 - Present: STEM for Others Chapter President</b> <br>
  (description) <br>
       <b>August 2025 - Present: Founder & President of FBLA Club</b> <br>
  (description) <br>
       <b>August 2025 - Present: Co-founder of Tech & Ethics Club</b> <br>
  (description) <br>
       <b>August 2024 - June 2025: Athenian Boarding Program Prefect</b> <br>
  (description) <br>
       <b>Fall 2023 - Present: Athenian Admissions Ambassador</b> <br>
  (description) <br>
       <b>August 2025 - Present: Junior Class Leader</b> <br>
  (description) <br>
      </p>
    </div>
    <div class="single-box">
      <h2>Activites & Interests</h2>
      <p>
       <b>Fall 2024 - Present: Varsity Basketball</b> <br>
  (description) <br>
       <b>August 2025 - Present: Digital Learning Intern</b> <br>
  (description) <br>
       <b>August 2024 - June 2025: Student Activities Board</b> <br>
  (description) <br>
       <b>August 2024 - June 2025: Student Athletic Committee</b> <br>
  (description) <br>
      </p>
    </div>
    <div class="single-box">
      <h2>Projects</h2>
      <a href="/clicker"> Clicker </a>
    </div>
  </div>
  <script src="{{ url_for('static', filename='profilescript.js') }}"></script>
</body>

</html>